## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

Importing libraries for data loading

In [3]:
# Your code here - remember to use markdown cells for comments as well!
import sqlite3
import pandas as pd

Inspecting the dataframe through .head() function

In [4]:
df = pd.read_csv("zippedData/tmdb.movies.csv.gz")
print(df.head())

   Unnamed: 0            genre_ids     id original_language  \
0           0      [12, 14, 10751]  12444                en
1           1  [14, 12, 16, 10751]  10191                en
2           2        [12, 28, 878]  10138                en
3           3      [16, 35, 10751]    862                en
4           4        [28, 878, 12]  27205                en

                                 original_title  popularity release_date  \
0  Harry Potter and the Deathly Hallows: Part 1      33.533   2010-11-19
1                      How to Train Your Dragon      28.734   2010-03-26
2                                    Iron Man 2      28.515   2010-05-07
3                                     Toy Story      28.005   1995-11-22
4                                     Inception      27.920   2010-07-16

                                          title  vote_average  vote_count
0  Harry Potter and the Deathly Hallows: Part 1           7.7       10788
1                      How to Train Your Dragon           7.7        7610
2                                    Iron Man 2           6.8       12368
3                                     Toy Story           7.9       10174
4                                     Inception           8.3       22186

### BUSINESS UNDERSTANDING

##### KEY QUESTIONS FOR FOR MOVIE STUDIO STRATEGY
1. Which movie genres generate the highest revenue- by analyzing the total earnings fromm the different genres, we can determine which types of films are more profitable and likely to attact large audiences.
2. Does movie rating or critic score affect the performance- using ratings from Rotten tomatoes and movies data base , we can measure whether higher rated movies earn more revenue 
3. Does a longer runtime have an effect on rating or revenue- by analyzing the runtime in the dataset, we are able to identify which runtime generate higher earnings for different types of movies.
4. Does the release timing affect the earnings- by examining which months and their associated revene, we can identify the optimal times to launch fils for maximum success